<div class = "col-md-6 offset-md-3">
    <h3>Create Appoinment</h3>
    
      <form (ngSubmit) = "onSubmit()"> 
        
        <div class="form-group">
            <label>Appoinment Date</label>
            <input type="text" class="form-control" id="appoinmentDate"
                [(ngModel)] = "appoinments.appoinmentDate" name ="appoinmentDate">
        </div>
    
        <div class="form-group">
            <label>Appoinment Time</label>
            <input type="number" class="form-control" id="appoinmentTime"
                [(ngModel)] = "appoinments.appoinmentTime" name ="appoinmentTime">
        </div>
    
        
        <button class = "btn btn-success" type="submit">Submit</button>
    
    </form>
    </div>    