<div class="header">
    <div class="container">
        <div class="row">
            <div class="colMod6">
                <h1><a href="" class="title">Sampath Driving School</a></h1>
            </div><!--Title-->
            
            <div class="colMod6">
                <a href="/login" class="login btn btn-primary">Login</a>
                <a href="/register" class="register btn btn-primary">Register</a>
            </div><!--Login and Register-->
        </div>
    </div>
</div>




