<div class = "col-md-6 offset-md-3">
    <p class="p1">Create Applicant</p>
        
      <form (ngSubmit) = "onSubmit()"> 
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" id="idNumber"
                [(ngModel)] = "applicant.idNumber" name ="idNumber">
        </div>
    
        <div class="form-group">
            <label>ID Type</label>
            <input type="text" class="form-control" id="idType"
                [(ngModel)] = "applicant.idType" name ="idType">
        </div>
    
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" id="fullName"
                [(ngModel)] = "applicant.fullName" name ="fullName">
        </div>
    
        <div class="form-group">
            <label> Address</label>
            <input type="text" class="form-control" id="address"
                [(ngModel)] = "applicant.address" name ="address">
        </div>
        <div class="form-group">
            <label> Telephone Number</label>
            <input type="text" class="form-control" id="telephoneNo"
                [(ngModel)] = "applicant.telephoneNo" name ="telephoneNo">
        </div>
            <div class="form-group">
            <label> Gender</label>
            <input type="text" class="form-control" id="gender"
                [(ngModel)] = "applicant.gender" name ="gender">
        </div>
    
        <div class="form-group">
            <label> Licence Type</label>
            <input type="text" class="form-control" id="licenceType"
                [(ngModel)] = "applicant.licenceType" name ="licenceType">
        </div>
    
    
        <div class="form-group">
            <label> Advance</label>
            <input type="number" class="form-control" id="advance"
                [(ngModel)] = "applicant.advance" name ="advance">
        </div>
        <div class="form-group">
            <label> Advanced Date</label>
            <input type="date" class="form-control" id="advancedDate" placeholder="yyyy-mm-dd"
                [(ngModel)] = "applicant.advancedDate" name ="advancedDate">
        </div>
        <div class="form-group">
            <label> Medical Id</label>
            <input type="text" class="form-control" id="medicalId"
                [(ngModel)] = "applicant.medicalId" name ="medicalId">
        </div>
        
        <div class="form-group">
            <label> Vehicale Class</label>
            <input type="text" class="form-control" id="vehicaleClass" 
                [(ngModel)] = "applicant.vehicaleClass" name ="vehicaleClass">
        </div>
        <div class="form-group">
            <label> Description</label>
            <input type="text" class="form-control" id="description"
                [(ngModel)] = "applicant.description" name ="description">
        </div>
    
        <button class = "btn btn-info" type="submit">Update</button>
    
    </form>
    </div>
    