<p class="p1">View Applicants Details</p>
<div>
    <div>
        <label><b> ID : </b></label> {{applicant.idNumber}}
    </div>

    <div>
        <label><b> ID Type: </b></label> {{applicant.idType}}
    </div>

    <div>
        <label><b> Full Name  : </b></label> {{applicant.fullName}}
    </div>
    <div>
        <label><b> Address : </b></label> {{applicant.address}}
    </div>

    <div>
        <label><b>Telephone No : </b></label> {{applicant.telephoneNo}}
    </div>
    <div>
        <label><b> Gender : </b></label> {{applicant.gender}}
    </div>

    <div>
        <label><b> BirthDay : </b></label> {{applicant.birthDay}}
    </div>

    <div>
        <label><b> Licence Typee  : </b></label> {{applicant.licenceType}}
    </div>
    <div>
        <label><b> Advance : </b></label> Rs {{applicant.advance}}
    </div>
    <div>
        <label><b> Advanced Date : </b></label> {{applicant.advancedDate}}
    </div>
    <div>
        <label><b> Medical Id : </b></label> {{applicant.medicalId}}
    </div>

    <div>
        <label><b> Vehicale Class : </b></label> {{applicant.vehicaleClass}}
    </div>

    <div>
        <label><b> Description  : </b></label> {{applicant.description}}
    </div>

    
</div>
