<div class = "col-md-6 offset-md-3">
<p class="p1">Create Vehicle</p>

  <form (ngSubmit) = "onSubmit()"> 
    
    <div class="form-group">
        <label>Plate Number</label>
        <input type="text" class="form-control" id="plateNo"
            [(ngModel)] = "vehicle.plateNo" name ="plateNo">
    </div>

    <div class="form-group">
        <label>No Of Seat</label>
        <input type="number" class="form-control" id="noOfSeat"
            [(ngModel)] = "vehicle.noOfSeat" name ="noOfSeat">
    </div>

    <div class="form-group">
        <label> Vehicle Type</label>
        <input type="text" class="form-control" id=" vehicaleClass" 
            [(ngModel)] = "vehicle. vehicaleClass" name =" vehicaleClass">
           
    </div>
    <button class = "btn btn-info" type="submit">Submit</button>

</form>
</div>    