<h3>View Employees Details</h3>
<div>
    <div>
        <label><b> ID : </b></label> {{employee.idNumber}}
    </div>

    <div>
        <label><b> ID Type: </b></label> {{employee.idType}}
    </div>

    <div>
        <label><b> Full Name  : </b></label> {{employee.fullName}}
    </div>
    <div>
        <label><b> Address : </b></label> {{employee.address}}
    </div>

    <div>
        <label><b>Telephone No : </b></label> {{employee.telephoneNo}}
    </div>

    <div>
        <label><b> Email  : </b></label> {{employee.email}}
    </div>
    <div>
        <label><b> Gender : </b></label> {{employee.gender}}
    </div>

    <div>
        <label><b> BirthDay : </b></label> {{employee.birthDay}}
    </div>

    <div>
        <label><b> Position  : </b></label> {{employee.position}}
    </div>
    <div>
        <label><b> Salary :  </b></label> Rs {{employee.salary}}
    </div>

    <div>
        <label><b> Start Date : </b></label> {{employee.startDate}}
    </div>

    <div>
        <label><b> Status  : </b></label> {{employee.status}}
    </div>
</div>
