<p class="p1">Make an Appoinment</p>

<h4>Make an appoinment for meet an our agent </h4>
<p class=p2> Here You can select any time between  08.00 AM to 04.00 PM .You
    can choose any date you prefer. </p>
<a href="/create-appoinments" class="btn btn-info">Appointment</a><br>

<br><h4>Make an appoinment for participate a class </h4>
<p class=p2>Only 10 maximum 10 number of students are required for an hour.</p>
<a href="/create-appoinments-classes" class="btn btn-info">Classes</a><br>

<br><h4>Make an appoinment for meet an our agent </h4>
<p class=p2>The maximum number of students who can participate for an one 
    session can be change according to vehicale class.</p>
<a href="/appoinment-driving" class="btn btn-info">Driving Practice</a>


