<p class="p1">Our Service</p>

<span class="a">
    <h2>Full cource</h2>
    <br>
    <p> This package is for beginners for Auto or Manual Transmission vehicles
    </p>
</span>

<span class="a">
    <h2>Heavy Vehicle licence</h2>
    <br>
    <p>This package is for who already has licence for light vehicles, but willing to get licence for heavy vehicles 
    </p>
</span>

<span class="a">
    <h2>Light cource</h2>
    <br>
    <p>This package is for applicants with some basic knowlege 
    </p>
</span>