<div class = "col-md-6 offset-md-3">
<p class="p1">Create Applicant</p>
    
  <form (ngSubmit) = "onSubmit()"> 
    <div class="form-group">
        <label>ID Number</label>
        <input type="text" class="form-control" id="idNumber"
            [(ngModel)] = "applicant.idNumber" name ="idNumber">
    </div>

    <div class="form-group">
        <label>ID Type </label><br>
        <input type="radio" id="idType" value="nic"
            [(ngModel)] = "applicant.idType" name ="idType"class="radio">NIC<br>
        <input type="radio"  id="idType" value="passport"
            [(ngModel)] = "applicant.idType" name ="idType"class="radio">Passport<br>
    </div>

    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" id="fullName"
            [(ngModel)] = "applicant.fullName" name ="fullName">
    </div>

    <div class="form-group">
        <label> Address</label>
        <input type="text" class="form-control" id="address"
            [(ngModel)] = "applicant.address" name ="address">
    </div>
    <div class="form-group">
        <label> Telephone Number</label>
        <input type="text" class="form-control" id="telephoneNo"
            [(ngModel)] = "applicant.telephoneNo" name ="telephoneNo">
    </div>
        <div class="form-group">
        <label> Gender</label><br>
        <input type="radio" id="gender" value="male"
            [(ngModel)] = "applicant.gender" name ="gender"class="radio">Male<br>
        <input type="radio" id="gender" value="female"
            [(ngModel)] = "applicant.gender" name ="gender"class="radio">Female<br>    
    </div>
    <div class="form-group">
        <label> Birth Day</label>
        <input type="date" class="form-control" id="birthDay" placeholder="yyyy-mm-dd"
            [(ngModel)] = "applicant.birthDay" name ="birthDay">
    </div>
    <div class="form-group">
        <label> Licence Type</label><br>
        <input type="radio" id="licenceType"value="new"
            [(ngModel)] = "applicant.licenceType" name ="licenceType"class="radio">New<br>
        <input type="radio" id="licenceType" value="extension"
            [(ngModel)] = "applicant.licenceType" name ="licenceType"class="radio">Extension<br>
        <input type="radio" id="licenceType"value="renewal"
            [(ngModel)] = "applicant.licenceType" name ="licenceType"class="radio">Renewal<br>
        <input type="radio" id="licenceType" value="duplicate"
            [(ngModel)] = "applicant.licenceType" name ="licenceType"class="radio">Duplicate<br>    
    </div>


    <div class="form-group">
        <label> Advance</label>
        <input type="number" class="form-control" id="advance"
            [(ngModel)] = "applicant.advance" name ="advance">
    </div>
    <div class="form-group">
        <label> Advanced Date</label>
        <input type="date" class="form-control" id="advancedDate" placeholder="yyyy-mm-dd"
            [(ngModel)] = "applicant.advancedDate" name ="advancedDate">
    </div>
    <div class="form-group">
        <label> Medical Id</label>
        <input type="text" class="form-control" id="medicalId"
            [(ngModel)] = "applicant.medicalId" name ="medicalId">
    </div>
    
    <div class="form-group">
        <label> Vehicale Class</label>
        <input type="text" class="form-control" id="vehicaleClass" 
            [(ngModel)] = "applicant.vehicaleClass" name ="vehicaleClass">
    </div>
    <div class="form-group">
        <label> Description</label>
        <input type="text" class="form-control" id="description"
            [(ngModel)] = "applicant.description" name ="description">
    </div>

    <button class = "btn btn-success" type="submit">Submit</button>

</form>
</div>
