@import "~bootstrap/dist/css/bootstrap.css";
* {
    margin: 0;
    padding: 0;
   }

   .p1{
    text-align: center;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(110, 5, 27);
    text-decoration: none;
}
.btn-success{
    background-color: darkcyan;
    outline-color: darkcyan;
    
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(1, 11, 32);
    color: cyan;
    text-align: center;
}
body{
    margin: 0;
    font-size: 15px;
    /*background-image:url("/assets/images/back1.jpg")  ;
    
    background-color: rgb(167, 185, 199);*/
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;

}

/*this is css for quiz.component section*/

.custom-box{
    max-width: 700px;
    background-color: rgb(144, 170, 218);
    margin: 40px auto;
    padding: 30px;

}
.custom-box::before,
.custom-box::after{
    content: '';
    clear: both;
    display: table;


}
.custom-box.hide{
    display: none;
}
.home-box h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 400;
}
.home-box p span{
    font-weight: 500;

}
.home-box .btn{
    margin-top: 20px
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answer-idicator{
    width: 100%;
    float: left;
}
.quiz-box .question-number{
    font-size: 18px;
    color: rgb(22, 22, 26);
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text{
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}
.quiz-box .option-container .option{
    background-color: rgb(150, 157, 180);
    padding:15px;
    font-size: 16px;
    line-height: 22px;
    color:black;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
    
}
.quiz-box .option-container .option.alresdy-answered{
    pointer-events: none;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.quiz-box .option-container .option.correct::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height:100% ;
    width: 100%;
    background-color: rgb(3, 184, 124);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
@keyframes slideInLeft{
    0%{
        transform:translateX(-100%) ;
    }
    100%{
        transform:translateX(0%) ;
    }
}


.quiz-box .option-container .option.correct{
    color: blue;
}
.quiz-box .option-container .option.wrong::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height:100% ;
    width: 100%;
    background-color: rgb(184, 3, 3);
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}
.quiz-box .option-container .option.wrong{
    color: rgb(255, 255, 255);
}

.quiz-box .btn{
    margin: 15px 0;
}
.quiz-box .answer-idicator{
    border-top: 1px solid black;
}
.quiz-box .answer-idicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: rgb(2, 1, 14);
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}
.quiz-box .answer-idicator div.correct{
    background-color: rgb(3, 184, 124);
    background-image: url("E:/didNotUseKeyStore/employeeFrontEnd/empoyeeFrontEnd/src/correct.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-box .answer-idicator div.wrong{
    background-color: rgb(184, 3, 3);
    background-image: url("E:/didNotUseKeyStore/employeeFrontEnd/empoyeeFrontEnd/src/incorrect.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.result-box{
    text-align: center;
}
.result-box.hide{
    display:none;
}
.result-box h1{
    font-size: 36px;
    line-height: 42px;
    color: rgb(8, 8, 8);
}
.result-box table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}
.result-box table td{ 
    border: 1px solid rgb(8,8,8);
    padding: 8px 15px;
    font-weight: 500;
    width: 50%;
    text-align: left;
    font-size: 18px;

}
.result-box .btn{
    margin-right: 20px;
}

@media(max-width: 767px){
    .result-box .btn{
        margin-bottom: 15px;
    }
    body{
        padding: 15px;
    }

}