
.right {
    float: right;  
  }
  

  span.a {
    display: inline-block;
    width: 250px;
    height: 300px;
    padding: 15px;
    border: 10px solid rgb(181, 171, 226);    
    background-color: rgb(27, 87, 218); 
  }
h2{
    font-size: 150%;
    text-align: center;
    color: rgb(37, 17, 26);
}
h3.a{
  padding-left: 10pt;
}

img {
  max-width: 100%;
  height: auto;
}
  