
.right {
    float: right;  
  }
  

  span.a {
    display: inline-block;
    width: 250px;
    height: 300px;
    padding: 15px;
    border: 10px solid rgb(181, 171, 226);    
    background-color: rgb(27, 87, 218); 
  }
h2{
    font-size: 150%;
    text-align: center;
    color: rgb(37, 17, 26);
}
h3.a{
  padding-left: 10pt;
}


img {
  max-width: 100%;
  height: auto;
}

.imgDiv{
  width: 100%;
  height: auto;
  
  background-size: 100% 100%;
  opacity: 0.5;

}
.containerCustom{
  position: relative;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: auto;
  font-weight: 100%;
  font-size: auto;
  text-align: center;

}
.content{
  position: relative;
  top: 50%;
  
  transform: translate(-50%, -50%);

  font-weight: 20%;
  font-size: 180%;
}
  